<div class="content">
  <nav-section></nav-section>
  <header-description header="How to Buy" description="Ready to buy or ask questions? You're in the right place."></header-description>
  <broker-hero></broker-hero>
  <buy-tabs></buy-tabs>
</div>

<div class="page-description__copy"></div>
