<div class="content">
  <nav-section></nav-section>
  <hero-section header="home page" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nisl diam, volutpat quis leo id, vestibulum convallis dui. Pellentesque gravida maximus venenatis."></hero-section>
</div>