<div class="content" ><!-- ng-controller="faqPropertyController" -->
  <!-- <property-tabs></property-tabs> -->
  <faq-property></faq-property>
  <!-- <ang-accordion icon-position="left" close-icon-url="../images/right-icon.png" open-icon-url="../images/down-icon.png" one-at-a-time="true" ng-repeat="faq in faq | limitTo: faq.limit as results" class="ng-cloak" >
    <collapsible-item item-title="faq.question" initially-open="false" >
      {{ faq.answer }}
    </collapsible-item>
  </ang-accordion> -->

</div>