<table class="results__table" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <td>
        <div class="row hidden-md-down page-border--bottom page-border--blue page-border--thick results__header-row page-vp--2 page-vp-t--0">
          <div class="col-10 col-md-11">
            <div class="row text-uppercase">
              <div class="col-md-3 no-gutter">
                <strong>Store Name</strong>
              </div>
              <div class="col-md-3">
                <strong>Address</strong>
              </div>
              <div class="col-md-3">
                <strong>Phone</strong>
              </div>
              <div class="col-md-2">
                <strong>Distance</strong>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="store in $ctrl.store | orderBy:$ctrl.sortType:sortReverse | filter:$ctrl.searchStore | limitTo:$ctrl.limit as results" class="ng-cloak">
      <td class="mobile--remove">
        <div class="row page-vp--2 page-border--bottom" ng-click="$ctrl.toggleFilter(store)">
          <div class="col-10 col-md-11 no-gutter">
            <div class="row">
              <div class="col-md-3" ng-class="{'page-border-bottom--hide' : store.toggle}"><strong>{{ store.storename }}</strong></div>
              <div class="col-md-3">{{ store.street }}</div>
              <div class="col-md-3">{{ store.phone }}</div>
              <div class="col-md-2">{{ store.distance }}</div>
            </div>
          </div>
          <div class="col-2 col-md-1 no-gutters">
            <?xml version="1.0" encoding="utf-8"?>
            <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 14 14" style="enable-background:new 0 0 14 14;" xml:space="preserve" width="14" height="14" class="accordion__button--open float-right" ng-class="{'accordion__button--close' : store.toggle}">
              <style type="text/css">
              .cross-0 {
                opacity: 0.54;
                enable-background: new;
              }
              </style>
              <g id="Cross" transform="translate(2813 -1771)">
                <path id="Cross-Icon" class="cross-0" d="M-2807,1771v6h-6v2h6v6h2v-6h6v-2h-6v-6H-2807z" />
              </g>
            </svg>
            <!-- <span ng-hide="broker.toggle">[+]</span> <span ng-show="broker.toggle">[x]</span> -->
          </div>
        </div>
        <div class="row page-vp--2 page-border--bottom" ng-show="store.toggle">
          <div class="col-10 col-md-11 no-gutter">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-3" ng-bind-html="store.hours"></div>
              <div class="col-md-3">Toll-Free: {{ store.tollfree }}
                <br>Fax: {{ store.fax }}
                <br> <a href="mailto:{{ store.email }}" target="_blank">{{ store.email }}</a>
                <br> {{ store.postalcode }}</div>
              <div class="col-md-2"><a href="{{ store.directions }}" target="_blank">Get Directions</a></div>
            </div>
          </div>
          <div class="col-2 col-md-1"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="page-vp--2 text-center">
        <button ng-hide="results.length === $ctrl.store.length" ng-click="$ctrl.limit = $ctrl.limit +2" class="btn btn-outline-primary">show more...</button>
      </td>
    </tr>
  </tbody>
</table>