<table class="results__table" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <td class="row page-border--top page-border--blue"></td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="faq in $ctrl.faq | orderBy:$ctrl.sortType:sortReverse | filter:$ctrl.searchfaq | limitTo:$ctrl.limit as results" class="ng-cloak">
      <td>
        <div class="row page-vp--2 page-border--bottom page-border--blue" ng-class="{'question-open' : faq.toggle, 'page-border--bottom--remove' : faq.toggle}" ng-click="$ctrl.toggleFilter(faq)">
          <div class="col-md-11">
              {{ faq.question }}
          </div>
          <div class="col-md-1">
            <?xml version="1.0" encoding="utf-8"?>
            <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 14 14" style="enable-background:new 0 0 14 14;" xml:space="preserve" width="14" height="14" class="accordion__button--open" ng-class="{'accordion__button--close' : faq.toggle}">
              <style type="text/css">
              .cross-0 {
                opacity: 0.54;
                enable-background: new;
              }
              </style>
              <g id="Cross" transform="translate(2813 -1771)">
                <path id="Cross-Icon" class="cross-0" d="M-2807,1771v6h-6v2h6v6h2v-6h6v-2h-6v-6H-2807z" />
              </g>
            </svg>
            <!-- <span ng-hide="faq.toggle">[+]</span> <span ng-show="faq.toggle">[x]</span> -->
          </div>
        </div>
        <div class="row page-vp-b--2 page-border--bottom page-border--blue" ng-class="{'d-none' : !faq.toggle}">
          <div class="col-md-11">
            {{ faq.answer }}
          </div>
          <div class="col-md-1"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="page-vp--2 text-center">
        <button ng-hide="results.length === $ctrl.faq.length" ng-click="$ctrl.limit = $ctrl.limit +2" class="btn btn-outline-primary">show more...</button>
      </td>
    </tr>
  </tbody>
</table>
