<section class="feature-item ">
  <div class="container-fluid feature-description__grid-container">
    <div class="row">
    <div class="col-md-3" ng-bind-html="$ctrl.image"></div>
    <div class="col-md-9">
      {{$ctrl.header}}
      <div ng-bind-html="$ctrl.description">
          </div>
    </div>
    </div>
  </div>
</section>