<div ng-init="tab = 1" class="page-section--grey">
  <div class="section-tabs__container  page-vm-b--7" ng-cloak>
    <div class="no-gutters container-fluid row">
      <div class="col-6 section-tab" ng-class="{active : tab === 1}" ng-click="tab = 1">
        <a href="javascript:void(0);" class="page-vm-t--7 page-vp-b--2">
            <span>Brokers</span>
          </a>
      </div>
      <div class="col-6 section-tab" ng-class="{active : tab === 2}" ng-click="tab = 2">
        <a href="javascript:void(0);" class="page-vm-t--7 page-vp-b--2">
            <span>CAA Stores</span>
          </a>
      </div>
    </div>
  </div>
  <div class="container-fluid section-tab-content__container page__bg--color-grey">
    <div ng-show="tab === 1">
      <div class="page-vm-b--7">
        <h2>Insurance Advisor Results</h2>
        <p>Ready to buy or ask questions? You're in the right place.</p>
      </div>
      <broker-list></broker-list>
    </div>
    <div ng-show="tab === 2">
      <div class="page-vm-b--7">
        <h2>Your Club is CAA South Central Ontario.</h2>
        <p>Ready to buy or ask questions? You're in the right place.</p>
      </div>
      <div class="features__container">
        <div class="row page-vm-b--7">
          <div class="col-md-6">

            <div class="feature-item">
              <div class="feature-description__grid-container">
                <div class="row">
                <div class="col-md-4 col-lg-3"><svg-monitor></svg-monitor></div>
                <div class="col-md-8 col-lg-9">
                  <strong>Website</strong>
                  <p>Donec mollis, orci ac posuere ornare, mauris metus aliquet justo, vel dapibus est purus in turpis.</p>
                </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-6">

            <div class="feature-item">
              <div class="feature-description__grid-container">
                <div class="row">
                <div class="col-md-4 col-lg-3"><svg-phone></svg-phone></div>
                <div class="col-md-8 col-lg-9">
                  <strong>By Phone</strong>
                  <p>Donec mollis, orci ac posuere ornare, mauris metus aliquet justo, vel dapibus est purus in turpis.</p>
                </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row page-vm-b--7">
          <div class="col-md-6">

            <div class="feature-item">
              <div class="feature-description__grid-container">
                <div class="row">
                <div class="col-md-4 col-lg-3"><svg-store></svg-store></div>
                <div class="col-md-8 col-lg-9">
                  <strong>Your Nearest CAA Store</strong>
                  <p>Donec mollis, orci ac posuere ornare, mauris metus aliquet justo, vel dapibus est purus in turpis.</p>
                </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-6">
          </div>
        </div>
      </div>
      <store-list></store-list>
    </div>
  </div>
  <!-- end wrapper -->
</div>