.accordion {
  &__button--open {
    // position: absolute;
    // right: 0px;
    -webkit-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    @media only screen and (max-width: $bp-small) {

      top:28px;

    }


    &.accordion__button--close {
      -webkit-transform: rotate(133deg);
      transform: rotate(133deg);
    }
  }

}



.collapsible-item {
  margin-bottom: 10px;
}

.collapsible-item .title {
  cursor: pointer;
}

.collapsible-item .title .icon {
  float: right;
  height: 20px;
  width: 20px;
  font-size: 19px !important;
  padding-right: 1px;
}

.collapsible-item .title .iconleft {
  float: left !important;
}

.collapsible-item .title.disabled {
  background: #eee;
  color: #999;
  cursor: text;
}

.collapsible-item > .body {
  position: relative;
  top: -4px;
  max-height: 0;
  overflow: hidden;
  // border: 1px solid #ccc;
  border-top: 0;
  z-index: -1;
  -webkit-transition: max-height 0.5s ease;
     -moz-transition: max-height 0.5s ease;
       -o-transition: max-height 0.5s ease;
          transition: max-height 0.5s ease;
}

.collapsible-item > .body .content {
  // padding: 20px 15px 5px 15px;
}

.collapsible-item.open > .body {
  max-height: 1000px;
  z-index: 1;
}

.collapsible-item.open .title {
  // -webkit-border-radius: 5px 5px 0 0;
  //    -moz-border-radius: 5px 5px 0 0;
  //         border-radius: 5px 5px 0 0;
}