//bootstrap overrides

//PROJECT VARIABLES

//////////////////////////////////////////
// ------------------------------------*\
//     # BreakPoints
// \*------------------------------------
$bp-smallest: 320px;
$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 960px;

$mobile-width: $bp-medium;

//== Grid Media queries breakpoints
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  $bp-smallest !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  $bp-small !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  $bp-medium !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  $bp-large !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//////////////////////////////////////////
// ------------------------------------*\
//     # Margins and spacing
// \*------------------------------------
$margin-bottom: 50px;
$margin-bottom--small: 20px;

$margin-bottom-desktop:$margin-bottom;
$margin-bottom-mobile:40px;


$space: 2%;
$space-and-half: $space*1.5;
$space-double: $space*2;
$space-quad: $space*4;
$space-half: $space/2;
$pad: 4%;
$pad-and-half: $pad*1.5;
$pad-double: $pad*2;
$pad-half: $pad/2;
$pad-quarter:$pad/4;

$btn-pad-lrg:13px 30px;
$btn-pad-sml:8px 20px;

$v-margin: 12px;
$v-margin-and-half: $v-margin*1.5;
$v-margin-half: $v-margin/2;
$v-margin-quarter: $v-margin/4;


$h-padding: 16px;


//////////////////////////////////////////
// ------------------------------------*\
//     # Buttons
// \*------------------------------------

$btn-border-radius:              2px;
$btn-border-radius-lg:           2px;
$btn-border-radius-sm:           2px;


//////////////////////////////////////////
// ------------------------------------*\
//     # Colors
// \*------------------------------------


//brand
$caa-blue:#00338d;
$color-baby-blue:#6CB2E2;
$gold: #857351;
$gold-faded: #D0CABE;
$grey: #E8EAEC;

$caa-red:#cd281e;
$caa-color-default:#333;

$green-light: #65b32b;
$green-dark: #3f9402;

$disabled-grey-light:#ccc;
$disabled-grey:#e7e7e7;
$disabled-grey-dark:#999999;


$grey-light: #f9f9f9;
$grey-light-2: #f2eded;
$grey-light-3: #ddd;


$grey-dark: #666;
$grey-dark-2: #333;
$gray-200:#ccc;
$white: #fff;
$black: #000;
$light-blue: #f5f9fb;
$light-green: #ddecc3;
$green: #61a62e;
$opacity-light: rgba(0,0,0,0.5);
$error: #f00;
$valid: #089e00;
$warn: #fff664;
$info: #000db5;



$theme-colors: (
  primary: $gold,

);
// secondary: $gray-600,
//   success: $green,
//   info: $cyan,
//   warning: $yellow,
//   danger: $red,
//   light: $gray-100,
//   dark: $gray-800


//////////////////////////////////////////
// ------------------------------------*\
//     # Typography
// \*------------------------------------
// @import url(//fast.fonts.net/cssapi/2dc67787-4d8d-43bf-a8f6-96f474b9302e.css);

$font: "Neue Helvetica W01", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
// $font: "Source Sans Pro", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-secondary: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-family-base: $font;

$font-size-smallest: 11px;
$font-size-smaller: 12px;
$font-size-small: 14px;
$font-size-regular: 16px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-larger: 36px;


$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
// $font-weight-light: 200;
// $font-weight-normal: 300;
// $font-weight-bold: 400;
// $font-weight-bolder: 600;


$h1-font-size: 24px;

$line-height-small:110%;
$line-height: 120%;
$line-height-large: 140%;

//Layout
$max-width: 960px; //960px
$min-width: 320px; //960px


//Borders
$border: 1px solid #ccc;

$corner: 2px;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;




/////// PLAYGROUND /////////


$screen-sm-min: $bp-smallest;
$screen-md-min: 600px;
$screen-lg-min: 972px;

$grid-gutter-width: 16px;

$blue: #00308f;
$light-blue: #1d60c9;
$light-blue-tint1: #113e96;
$light-blue-tint2: #2597dd;
$light-blue-tint3: #5487D6;
$light-blue-tint4: #154798;
$light-blue-tint5: #417ad2;
$light-blue-tint6: #1a4b9a;
$dark-blue: #020c27;

$facebook-blue: #3b5998;
$twitter-blue:  #4099FF;
$instagram-black: #000000;
$youtube-red:  #e52d27;
$google-red: #d84b37;
$linkedin-blue: #0077b5;

$green: #36c15f;
$green-tint1: #58cc7b;
$red: #ee3124;
$error-red: #f55f52;
$nav-red: #d02813;
$teal: #6ec9cd;

$white: #ffffff;
$border-grey: #e5e5e5;
$grey-tint1: #e9e9e9;
$grey-tint2: #ededed;
$grey-tint3: #f8f8f8;
$grey-tint4: #d6d6d8;
$grey-tint5: #f0f0f0;
$grey-tint6: #f4f4f4;
$grey-tint7: #b7b7b7;
$grey-tint8: #f1f1f1;
$grey-tint9: #f5f5f5;
$grey-tint10: #dbdcdd;
$dark-grey: #d6d6d8;
$dark-grey-tint1: #4d5056;
$dark-grey-tint2: #e5e6e9;
$dark-grey-tint3: #231f20;
$dark-grey-tint4: #667695;
$light-grey-tint1: #9b9b9b;
$light-grey-tint2: #fafafa;

$font-thin: 200;
$font-bold: 700;




@mixin sm-and-down {
    @media(max-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin sm-and-up {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin md-and-up {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin lg-and-up {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin reset-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin reset-heading {
    margin: 0;
}

@mixin reset-p {
    margin: 0;
}

@mixin big-copy {
    @include reset-p;

    font-size: 18px;
    line-height: 1.3;
    // color: $dark-grey-tint1;
}

@mixin copy {
    @include reset-p;

    font-size: 16px;
    line-height: 1.4;
    // color: $dark-grey-tint1;
    // max-width: 450px;

    @include md-and-up {
        max-width: none;
    }

    margin-bottom: 14px;
}

@mixin img {
    width: 100%;
    height: auto;
}

.sm-only {
    display: block !important;

    @include md-and-up {
        display: none !important;
    }
}

.md-and-up {
    display: none !important;

    @include md-and-up {
        display: block !important;
    }
}

.row > [class*='col-'].md-and-up {
    @include md-and-up {
        display: flex !important;
    }
}


.hidden-sm-down {
    @media only screen and (max-width: $bp-small) {
        display: none;
    }
}

.hidden-md-down {
    @media only screen and (max-width: $bp-medium) {
        display: none;
    }
}
