.broker {
  &-find {

    width: 100%;

    @media only screen and (max-width:$bp-large) {

      max-width: 425px;

    }

    &__grid-container {
      @media only screen and (min-width:$bp-large) {
        position:absolute;
        z-index:2;
        display:block;
        width:456px;
        height:300px;
        background-color:rgba(100%, 100%, 100%, 1);
        margin-top:$v-margin*6;
        -webkit-box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.1);
        box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.1);
      }
    }

    &__content {
      margin:$v-margin*4 0;

      @media only screen and (min-width:$bp-small) {
        text-align: center;
      }

      h2 {
        color:$caa-blue;
        margin-bottom: $v-margin*3;
      }
    }



  } //find

  &-page-hero__container {

  }
}


.search-city
{
  &-input__container {
    margin:$v-margin*2 auto 0;
    input {
      height:39px;
      width: 199px;
      padding: 0 10px;

      @media only screen and (min-width:$bp-smallest) {
        width: 73%;
      }
    }
  }
}
#search-city-input {
  @media only screen and (min-width:$bp-large) {
  width: 296px;
  }
}
#btn-use-location {
  max-width: 384px;
}
#btn-search-city {
  margin-top:-4px;
}

.angular-google-map-container {
    height: 215px;
    @media only screen and (min-width:$bp-medium) {
        height: 456px;
    }

}

