footer {
  flex-shrink: 0;
  // position: absolute;
  // bottom: 0;
  height: 100%;
  color: $white;

  .page-footer {

    &-terms-and-conditions {
      &__container {
        font-size: $font-size-smallest;
      }
    }

    &-nav {
      &__container {
        text-transform: uppercase;
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
        a { color:$white; }
      }
    }

    &-legal__container {
      font-size: $font-size-smallest;
      line-height: $line-height-large;
    }

  }

}


.social-media-icons {
  &__container {
    @media only screen and (min-width:$bp-large) {
      padding-bottom: $v-margin*2;
      position: relative;
    }
  }
  &__group {
    @media only screen and (min-width:$bp-large) {
      position: absolute;
      right: 0;
    }
  }
}