@mixin h1 {
    @include reset-heading;

    color: $dark-blue;

    font-size: $font-size-large;

    @media only screen and (min-width:$bp-medium) {
        font-size: 36px;
    }

    line-height: 1.3;
    margin-bottom: 12px;
}

@mixin h1-ish {
    @include reset-heading;

    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 12px;
}

.heading--h1 {
    @include h1;
}
