@mixin h2 {
    @include reset-heading;
    color: $dark-blue;
    font-size: $font-size-large;
    line-height: 1.3;
    margin-bottom: 12px;
}

.heading--h2 {
    @include h2;

    &:last-child {
    	margin-bottom: 0;
    }
}

.heading--blue {
    color: $light-blue;
}
