@mixin h3 {
    @include reset-heading;
    color: $dark-blue;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 12px;
}

.heading--h3 {
    @include h3;
}

.h3__subhead {
	font-weight: 400;
	display: block;
	font-size: 14px;
	margin-top: 8px;
    margin-bottom: 12px;
}

.h3__subhead--bold {
    font-weight: 600;
}
