// $logo-width: 150px;
$nav-height: 50px;

.container-fluid {
    &.mobile-nav {
        margin-left: 0;
    }
}

.navigation {
  // background-color:$grey;
  color:$black;
  height: 0;
  width:100%; //for ios
  opacity: 0;
  overflow: hidden;
  //@include transition(height 0.3s ease-out);

  @media only screen and (max-width: $bp-medium) {
    position: absolute;
    z-index:100;
  }

  @media only screen and (min-width: $bp-large) {
    height: $nav-height;
    opacity: 1;
  }
  &__column {
    position: relative;
    width: 50%;
    float: left;

    &:first-child {
      float: right;
    }
  }

  @media (min-width: $bp-large) {

    .navigation-main {
        display: -webkit-box!important;
        display: -webkit-flex!important;
        display: -ms-flexbox!important;
        display: flex!important;
        width: 100%;
    }

    ul {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;

        li {
            padding:0 20px;
            &:first-child { padding-left: 0; }
            a { color: $gold; }
        }
    }
  }

  // ul {
  //   li {
  //     height: $nav-height;
  //     display: inline-block;

  //     @media only screen and (min-width: $bp-medium) {
  //       float: left;
  //     }

  //     span {
  //       vertical-align: middle;
  //     }
  //     a {
  //       display: block;
  //       height: 100%;
  //       @media only screen and (min-width: $bp-medium) {
  //         color: $black;

  //       }


  //     }
  //   }
  // }

  ///* Pull right  */


  // &-main {
  //   li {
  //     border-left:1px solid $black;
  //     &:last-child {
  //       border-right:1px solid $black;
  //     }
  //     a {

  //       @media only screen and (min-width: $bp-medium) {
  //         height: $nav-height;
  //         padding-top: 13px;
  //         padding-left: 30px;
  //         padding-right: 30px;
  //         font-weight: $font-weight-bold;
  //       }
  //       overflow:hidden;
  //       position: relative;
  //       &:before {
  //           position: absolute;
  //           width: 0px;
  //           height: 100%;
  //           left: 0px;
  //           top: 0px;
  //           content: '';
  //           background: $link-hover-color;
  //           opacity: 0.3;
  //           transition: all 0.3s;
  //       }

  //       &:hover:before {
  //           width: 100%;
  //       }
  //     }

  //     span {
  //       z-index: 100;
  //       position: relative;
  //     }
  //   }
  // }

  @media only screen and (max-width: $bp-large) {
    &__column {
      float: none;
      width: 100%;

      &:first-child {
        float: none;
      }
    }

    &.navigation-modal {
      background-color: $caa-blue;
      top:55px;
      opacity: 1;
      height: $nav-height;
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: 100;
      color:$black;
      min-width: $bp-small;
      @include transition(opacity 0.2s ease-out);


      // /* The starting CSS styles for the enter animation */
      // &.ng-enter {
      //   transition:0.5s linear all;
      //   opacity:0;
      // }

      // /* The finishing CSS styles for the enter animation */
      // &.ng-enter.ng-enter-active {
      //   opacity:1;
      // }


      /* now the element will fade out before it is removed from the DOM */
      // &.ng-leave {
      //   transition:0.5s linear all;
      //   opacity:1;
      // }
      // &.ng-leave.ng-leave-active {
      //   opacity:0;
      // }


      .l-wrapper {
        padding:0;
      }

      //.navigation__column:last-child { padding: 0 $pad; }

      // .navigation-main {
      //   ul {
      //     margin-top: 15px;
      //     li {
      //       display: block;
      //       padding-left: 0;
      //       padding-right: 0;
      //       width: 100%;
      //       border-left: none;
      //       font-size:$h2-font-size;

      //       a {
      //         padding: 0 $pad;
      //         position: relative;
      //         // span {@include vertical-align(absolute);}
      //       }

      //       &:last-child {
      //         border-right:none;
      //       }
      //     }
      //   }
      // } // nav main
    } // nav MODAL //

  }
}



// Hamburger menu button

$menu-btn--dark: $white;
$menu-btn--thickness: 3px;
$menu-btn--length: 15px;
$menu-btn--speed:0.2s;


@mixin btn($left, $top) {
  position: relative;
  width: 35px;
  height: 35px;
  top: $top;
  left: $left;
  transition-duration: $menu-btn--speed;
}

@mixin icon($height, $width) {
  transition-duration: $menu-btn--speed;
  position: absolute;
  height: $height;
  width: $width;
  top: $menu-btn--length;
  background-color: $menu-btn--dark;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: $menu-btn--speed;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $menu-btn--dark;
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: $menu-btn--speed;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $menu-btn--dark;
  content: "";
  top: $top;
}


.mobile-menu__button {
  @include btn(0, 10px);

  .icon-left {
    @include icon($menu-btn--thickness, $menu-btn--length);
    left: 0px;

    &:before{
      @include icon-before($menu-btn--thickness, $menu-btn--length, -10px);
    }

    &:after{
      @include icon-after($menu-btn--thickness, $menu-btn--length, 10px);
    }

    &:hover{
      cursor: pointer;
    }
  }

  .icon-right {
    @include icon($menu-btn--thickness, $menu-btn--length);
    left: $menu-btn--length;

    &:before{
      @include icon-before($menu-btn--thickness, $menu-btn--length, -10px);
    }

    &:after{
      @include icon-after($menu-btn--thickness, $menu-btn--length, 10px);
    }
  }

  &.open {
    .icon-left {
      transition-duration: $menu-btn--speed;
      background: transparent;

      &:before{
        transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
      }

      &:after{
        transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
      }
    }

    .icon-right {
      transition-duration: $menu-btn--speed;
      background: transparent;

      &:before{
        transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
      }

      &:after{
        transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}