// Vertical margin spacing //
$vertical-margin: page-vm !default @for $i from 7 through 0 {
  .#{$vertical-margin}--#{$i} {
    margin-top: $v-margin*$i;
    margin-bottom: $v-margin*$i;
  }
  .#{$vertical-margin}-t--#{$i} {
    margin-top: $v-margin*$i;
  }
  .#{$vertical-margin}-b--#{$i} {
    margin-bottom: $v-margin*$i;
  }
}

.page-vm {
  &--5_5 {
    margin-top: $v-margin*5.5;
    margin-bottom: $v-margin*5.5;
  }
}



$vertical-padding: page-vp !default @for $i from 7 through 0 {
  .#{$vertical-padding}--#{$i} {
    padding-top: $v-margin*$i;
    padding-bottom: $v-margin*$i;
  }

  .#{$vertical-padding}-t--#{$i} {
    padding-top: $v-margin*$i;
  }

  .#{$vertical-padding}-b--#{$i} {
    padding-bottom: $v-margin*$i;
  }
}


.page-vp {
  &--5_5 {
    padding-top: $v-margin*5.5;
    padding-bottom: $v-margin*5.5;
  }
}