//page styling here
html {
  height: 100%;
}

body {
  font-size: 16px;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: $line-height;
  color:$caa-blue;
}

.content {
  flex: 1 0 auto;
}

h1,
.h1 {
  font-size: $font-size-larger;
  font-weight: $font-weight-bold;
}

h2,
.h2 {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

a, a:link, a:hover {
  color: $gold;
}

div.no-gutter {
  padding:0;
}

// .page-body {
//   display: flex;
//   flex-direction: column;
//   height: 100%
// }
.container-fluid {
  margin: 0 auto;
  min-width: ($screen-sm-min - $grid-gutter-width);
  max-width: 1000px;
  padding: 0 $grid-gutter-width;

  &.mobile-nav {
    padding-bottom: 0;
  }
}

.container {
  min-width: ($screen-sm-min - $grid-gutter-width);
  margin: 0 ($grid-gutter-width / 2);
  width: auto;

  @include md-and-up {
    width: ($screen-md-min - $grid-gutter-width);
    margin: 0 auto;
  }

  @include lg-and-up {
    width: ($screen-lg-min - $grid-gutter-width);
  }
}

.btn {
  text-transform: uppercase;
  font-size: 14px;
}

.page {
  &-section  {
    &--dark-blue {
      background-color: $caa-blue;
    }
    &--baby-blue {
      background-color: $color-baby-blue;
    }
    &--grey {
      background-color: $grey;
    }
  } // &-section

  &-h-padding--mobile {
    padding-left: $h-padding;
    padding-right: $h-padding;
  }

}



.accordion__button-close {
  span {
    position: absolute;
    right: 0;
  }
}