// Page bottom borders //

.border-include--blue {
  &.page-border--blue {
    border-color:#6CB2E2;
  }
}


.page-border {
  border: $border;
  @extend .border-include--blue;

  &--top {
    border-top: $border;
    @extend .border-include--blue;
  }

  &--bottom {
    border-bottom: $border;
    @extend .border-include--blue;

    &.page-border--thick {
      border-width:2px 0;
    }

    .page-border-bottom--hide:after {
      @media only screen and (min-width:$bp-medium) {
        content: '';
        // border:1px solid #E8EAEC;
        display: block;
        background-color: #E8EAEC;
        height:20px;
        width:102%;
        position:absolute;
        z-index:2;
        left:0;
        top:35px;
      }
    }

    &--remove {
      border-bottom:0;
    }


  } // border--bottom
}
