/*Modified Playground code*/


.page-hero {
    padding: 0;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    border-bottom: none;
    overflow: hidden;
    position: relative;
    height: 425px;

    @include sm-and-down {
        margin: 0 (-1 * $grid-gutter-width);
    }
}

.page-hero--no-bg {
    height: 350px;
    margin-bottom: -60px;

    .page-hero__tag {
        color: $dark-blue;
    }
}

.page-hero__grid-container,
.page-hero__grid-row,
.page-hero__grid-col {
    height: 100%;
    z-index: 1;
    margin: 0 auto;
    min-width: 304px;
    max-width: 1000px;
}

// vertically center hero content
.page-hero__grid-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-hero__grid-col--bottom {
    display: block;
    position: absolute;
    z-index:2;
    bottom:0;
}


.page-hero__background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-hero__widget,
.page-hero__mobile-widget .row .col-sm-12 {
    > img {
        width: 100%;
        height: auto;
    }
}

.page-hero__mobile-widget {
    margin-top: 17px;
}

.page-hero__content {
    // text-align: center;

    @include sm-and-down {
    margin-left:15px;
    margin-right:15px;
    }

    @include md-and-up {

        max-width: 960px;
        .page-hero--has-widget & {
            text-align: left;
        }
    }
}

.page-hero__logo {
    margin: 15px 0;
}

.page-hero__heading {
    color: white;

    .page-hero--no-bg & {
        color: $dark-blue;
    }

    .page-hero--has-widget & {
        @include md-and-up {
            @include h1-ish;
        }
    }
}

.page-hero__copy {
    @include big-copy;

    @include md-and-up {
    color: white;
    }
    margin-bottom: 0;

    .page-hero--no-bg & {
        color: $dark-blue;
    }

    .page-hero--has-widget & {
        @include md-and-up {
            @include copy;
            color: white;
            margin-bottom: 0;
        }
    }

    .page-hero--has-widget.page-hero--no-bg & {
        @include md-and-up {
            color: $dark-blue;
        }
    }
}

.page-hero__colored-bg-mobile--grey {
    @media only screen and (max-width:$bp-small) {
        background-color: $grey;
    }
}

.page-hero__link {
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	color: $white;
	text-decoration: none;
	display: inline-block;
    text-transform: lowercase;
    clear: left;
	margin-top: 30px;
	line-height: 10px;
    width: auto;

	svg {
		width: 3px;
		path {
			fill: $white;
		}
	}

    &:after {
        top: 16px;
    }

    &:hover {
        color: $white;
        &:after {
            background-color: $white;
        }
    }

	&:active,
	&:visited {
		color: $white;
	}
}

.page-hero__link-container {
    margin: 0;
    padding: 0;
}

.page-hero__overlay {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    max-width: 1320px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.page-hero__tag {
    text-transform: uppercase;
    font-size: 14px;
    color: $white;
    line-height: 1.5em;
    margin-bottom: 5px;
    letter-spacing: 0.2em;
}

.page-hero__tag-link {
    text-decoration: none;
    color: $white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 5px;
    letter-spacing: 0.2em;

    &:after {
        background-color: $white;
        height: 1px;
    }

    &:active,
    &:visited {
        color: $white;
    }


    &:hover {
        color: $white;
        &:after {
            background-color: $white;
        }
    }
}

.page-hero__icon-links {
    border-bottom: 1px solid $border-grey;
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;

    .icon-links {
        margin: 0;

        @include md-and-up {
            margin: 10px 0;
        }
    }

    .icon-links__content {
        margin-top: 0;
        border: 0;
        padding-top: 0;
    }
}

.page-hero__cta {
    margin-top: 30px;
}
