.section-tab {

  &s__container {
    // border-bottom: $border;
    .no-gutters {
      @media only screen and (max-width: $bp-medium) {
        padding:0;
      }
    }
  }

  text-transform: uppercase;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  text-align: center;

  & a:link, & a:hover {
    display: block;
    text-decoration: none;
    // padding:$v-margin*2 0;
  }

  &:hover:after {
    content: ' ';
    height:5px;
    background-color:$gold-faded;
    display:block;
  }

  &.active:after {
    content: ' ';
    height:5px;
    background-color:$gold;
    display:block;
  }



  &-content__container {
    // padding-bottom:$v-margin*8;
  }
}