.results {
  &__table {
    font-size: $font-size-small;
    width: 95%;
    margin:0 auto;

    @media only screen and (min-width: $bp-medium) {
      width: 98%;
      margin:0 8px;
    }
    @media only screen and (min-width: $bp-large) {
      width: 100%;
    }
  }
  /*&__header-row, &__click-row, &__button-row {
    padding:$v-margin*2 0;
  }*/

}


