<header class="page-header container-fluid page-vp-t--2">
  <div class="row">
    <div class="col-md-11">
      <!-- Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 157 40" style="enable-background:new 0 0 157 40;" xml:space="preserve" width="170" height="43">
      <style type="text/css">
      .caa-insurance__logo--0 {
        fill: #6D6E71;
      }

      .caa-insurance__logo--1 {
        fill: #FFFFFF;
      }

      .caa-insurance__logo--2 {
        fill: #002F87;
      }

      .caa-insurance__logo--3 {
        fill: #E2231A;
      }
      </style>
      <g>
        <rect x="60.6" y="0.6" class="caa-insurance__logo--0" width="1.2" height="38.8" />
        <g>
          <path class="caa-insurance__logo--0" d="M68.6,10.6h1.5V26h-1.5V10.6z" />
          <path class="caa-insurance__logo--0" d="M73,14.9h1.4v1.9h0c0.5-1.3,2-2.2,3.5-2.2c3.1,0,4.1,1.6,4.1,4.3V26h-1.4v-6.9c0-1.9-0.6-3.4-2.8-3.4
        c-2.1,0-3.4,1.6-3.5,3.8V26H73V14.9z" />
          <path class="caa-insurance__logo--0" d="M91.2,18.1c-0.1-1.7-1.4-2.4-2.9-2.4c-1.2,0-2.6,0.5-2.6,1.9c0,1.2,1.4,1.6,2.3,1.9l1.8,0.4
        c1.5,0.2,3.2,1.1,3.2,3.1c0,2.4-2.4,3.3-4.4,3.3c-2.6,0-4.3-1.2-4.6-3.9h1.4c0.1,1.8,1.5,2.8,3.3,2.8c1.3,0,3-0.6,3-2.1
        c0-1.3-1.2-1.7-2.4-2l-1.7-0.4c-1.8-0.5-3.1-1.1-3.1-3c0-2.3,2.2-3.1,4.2-3.1c2.2,0,4,1.2,4.1,3.6H91.2z" />
          <path class="caa-insurance__logo--0" d="M103.8,26h-1.2v-2h0c-0.7,1.5-2.2,2.3-3.8,2.3c-2.8,0-3.9-1.6-3.9-4.2v-7.2h1.4v7.2c0.1,2,0.8,3.1,3,3.1
        c2.3,0,3.3-2.2,3.3-4.4v-5.8h1.4V26z" />
          <path class="caa-insurance__logo--0" d="M106.4,14.9h1.2v2.6h0c0.7-1.8,2.2-2.8,4.2-2.8v1.4c-2.4-0.1-4.1,1.7-4.1,4V26h-1.4V14.9z" />
          <path class="caa-insurance__logo--0" d="M113,18.3c0.1-2.6,2-3.7,4.5-3.7c2,0,4.1,0.6,4.1,3.6V24c0,0.5,0.3,0.8,0.8,0.8c0.2,0,0.3,0,0.4-0.1v1.1
        c-0.3,0.1-0.5,0.1-0.9,0.1c-1.4,0-1.6-0.8-1.6-1.9h0c-0.9,1.4-1.9,2.3-4,2.3c-2,0-3.7-1-3.7-3.2c0-3.1,3-3.2,6-3.6
        c1.1-0.1,1.7-0.3,1.7-1.5c0-1.8-1.3-2.3-2.9-2.3c-1.7,0-2.9,0.8-3,2.6H113z M120.3,19.9L120.3,19.9c-0.2,0.3-0.8,0.4-1.2,0.5
        c-2.3,0.4-5.2,0.4-5.2,2.6c0,1.4,1.2,2.2,2.5,2.2c2.1,0,3.9-1.3,3.9-3.5V19.9z" />
          <path class="caa-insurance__logo--0" d="M124.3,14.9h1.4v1.9h0c0.5-1.3,2-2.2,3.5-2.2c3.1,0,4.1,1.6,4.1,4.3V26h-1.4v-6.9c0-1.9-0.6-3.4-2.8-3.4
        c-2.1,0-3.4,1.6-3.5,3.8V26h-1.4V14.9z" />
          <path class="caa-insurance__logo--0" d="M143.7,18.4c-0.4-1.7-1.4-2.7-3.1-2.7c-2.6,0-3.9,2.4-3.9,4.7s1.3,4.7,3.9,4.7c1.7,0,3.1-1.3,3.2-3.2h1.4
        c-0.4,2.7-2.1,4.3-4.6,4.3c-3.4,0-5.2-2.7-5.2-5.9s1.8-5.9,5.2-5.9c2.4,0,4.2,1.3,4.5,3.8H143.7z" />
          <path class="caa-insurance__logo--0" d="M147.8,20.8c0,2,1.1,4.4,3.7,4.4c2,0,3.1-1.2,3.5-2.8h1.4c-0.6,2.5-2,4-4.8,4c-3.5,0-5-2.7-5-5.9
        c0-2.9,1.5-5.9,5-5.9c3.6,0,5,3.1,4.9,6.2H147.8z M155,19.7c-0.1-2-1.3-4-3.5-4c-2.2,0-3.4,1.9-3.7,4H155z" />
        </g>
        <g>
          <path class="caa-insurance__logo--1" d="M28.7,0.7C13.2,0.7,0.7,9.3,0.7,20c0,10.6,12.6,19.3,28.1,19.3c15.5,0,28.1-8.6,28.1-19.3
        C56.8,9.3,44.2,0.7,28.7,0.7" />
          <path class="caa-insurance__logo--2" d="M28.7,1.6c-14.9,0-27,8.2-27,18.3s12.1,18.3,27,18.3c14.9,0,27-8.2,27-18.3S43.6,1.6,28.7,1.6" />
          <path class="caa-insurance__logo--1" d="M28.7,5.4c-12.7,0-23,6.5-23,14.6c0,8.1,10.3,14.6,23,14.6c12.7,0,23-6.5,23-14.6
        C51.7,11.9,41.4,5.4,28.7,5.4" />
          <path class="caa-insurance__logo--2" d="M48.3,20.8c0-0.5,0.4-1,1-1c0.5,0,1,0.4,1,1c0,0.6-0.4,1-1,1C48.8,21.8,48.3,21.4,48.3,20.8 M48,20.8
        c0,0.7,0.6,1.3,1.3,1.3c0.7,0,1.3-0.6,1.3-1.3c0-0.7-0.6-1.3-1.3-1.3C48.6,19.5,48,20.1,48,20.8" />
          <path class="caa-insurance__logo--2" d="M49.1,20.4v0.4h0.1c0.1,0,0.3,0,0.3-0.2C49.5,20.4,49.3,20.4,49.1,20.4L49.1,20.4z M49.3,20.2
        c0.3,0,0.4,0.1,0.4,0.4c0,0.2-0.1,0.3-0.3,0.4l0,0c0,0,0.4,0.5,0.4,0.6h-0.4c0,0-0.4-0.6-0.4-0.6v0.6h-0.3v-1.3H49.3z" />
          <path class="caa-insurance__logo--3" d="M25.7,21.9l2.9-9.2h0.1l2.9,9.2H25.7z M38,26.5h-4.3l2.2-6.1L31.3,6.6c-0.9-0.1-1.7-0.1-2.6-0.1
        c-0.9,0-1.7,0-2.6,0.1l-4.4,12.9h0.7l0,0.6c-0.2,2.3-1.2,4.2-2.7,5.4l-2.1,6c1.4,0.5,3,1,4.5,1.3l2.2-6.7h8.5l2,6.8
        c1.7-0.3,3.3-0.7,4.8-1.3L38,26.5z" />
          <path class="caa-insurance__logo--3" d="M40,19.9c0.1-0.3,1.5-4.4,1.7-5c0.2,0.6,1.5,4.7,1.6,5H40z M43.5,10.6H40L34.5,26H38c0,0,1.1-3.2,1.1-3.4h5.2
        c0.1,0.2,1.1,3.4,1.1,3.4h3.6L43.5,10.6z" />
          <path class="caa-insurance__logo--3" d="M18.7,15.9c-0.2-1.5-1.6-2.6-3.1-2.6c-2.8,0-3.9,2.5-3.9,5.2c0,2.5,1.1,5.1,3.9,5.1c1.9,0,3-1.4,3.2-3.4h3
        c-0.3,3.8-2.8,6.2-6.2,6.2c-4.4,0-7-3.5-7-7.9c0-4.5,2.6-8,7-8c3.1,0,5.7,1.9,6.1,5.4H18.7z" />
        </g>
      </g>
      </svg>
    </div>
    <div class="col-md-1">
      <button type="button" name="broker" id="btn-broker" class="btn btn-outline-primary">Broker</button>
    </div>
  </div>


</header>