<div class="page-description page-section--baby-blue text-white">
  <div class="container-fluid">
    <div class="page-description__grid-row row">
      <div class="page-description__grid-col col-sm-12">
        <div class="page-description__content page-vp--5">
          <div ng-bind-html="$ctrl.description"></div>
        </div>
      </div>
    </div>
  </div>
</div>