<table class="results__table" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <td>
        <div class="row hidden-md-down page-border--bottom page-border--blue page-border--thick results__header-row page-vp--2 page-vp-t--0">
          <div class="col-10 col-md-11">
            <div class="row text-uppercase">
              <div class="col-md-4 no-gutter">
                <!--  <a href="javascript:void(0);" ng-click="sortType = 'firstname'; sortReverse = !sortReverse"> -->
                <strong>Advisor</strong>
                <!-- </a> -->
              </div>
              <div class="col-md-4">
                <strong>Address</strong>
              </div>
              <div class="col-md-4">
                <strong>Contact</strong>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="broker in $ctrl.broker | orderBy:$ctrl.sortType:sortReverse | filter:$ctrl.searchBroker | limitTo:$ctrl.limit as results" class="ng-cloak">
      <td class="mobile--remove">
        <div class="row page-vp--2 page-border--bottom" ng-click="$ctrl.toggleFilter(broker)">
          <div class="col-10 col-md-11 no-gutter">
            <div class="row">
              <div class="col-md-4" ng-class="{'page-border-bottom--hide' : broker.toggle}"><strong>{{ broker.firstname }}, {{ broker.lastname }}</strong></div>
              <div class="col-md-4 ">{{ broker.city }} {{ broker.province }}</div>
              <div class="col-md-4">{{ broker.phone }}</div>
            </div>
          </div>
          <div class="col-2 col-md-1 no-gutter">
            <?xml version="1.0" encoding="utf-8"?>
            <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 14 14" style="enable-background:new 0 0 14 14;" xml:space="preserve" width="14" height="14" class="accordion__button--open float-right" ng-class="{'accordion__button--close' : broker.toggle}">
              <style type="text/css">
              .cross-0 {
                opacity: 0.54;
                enable-background: new;
              }
              </style>
              <g id="Cross" transform="translate(2813 -1771)">
                <path id="Cross-Icon" class="cross-0" d="M-2807,1771v6h-6v2h6v6h2v-6h6v-2h-6v-6H-2807z" />
              </g>
            </svg>
            <!-- <span ng-hide="broker.toggle">[+]</span> <span ng-show="broker.toggle">[x]</span> -->
          </div>
        </div>
        <div class="row page-vp--2 page-border--bottom" ng-show="broker.toggle">
          <div class="col-10 col-md-11 no-gutter">
            <div class="row">
              <div class="col-md-4">
                <!-- {{ broker.website }} -->
              </div>
              <div class="col-md-4">{{ broker.street }}
                <br> {{ broker.city }} {{ broker.province }}
                <br> {{ broker.postalcode }}</div>
              <div class="col-md-4">{{ broker.email }}
                <br> <a href="{{ broker.mapid }}" target="_blank">Get Directions</a></div>
            </div>
          </div>
          <div class="col-2 col-md-1"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="page-vp--2 text-center">
        <button ng-hide="results.length === $ctrl.broker.length" ng-click="$ctrl.limit = $ctrl.limit +2" class="btn btn-outline-primary">show more...</button>
      </td>
    </tr>
  </tbody>
</table>