<div class="caa-insurance__mobile-header">
    <!-- <div class="caa-insurance__mobile-header-column--logo"><a class="c-caa__logo" href="/">CAA | Insurance, Travel, Roadside and Rewards</a></div> -->
    <div class="caa-insurance__mobile-header-column--mobile-menu">
      <div ng-click="toggleNav = !toggleNav" class="mobile-menu__button" ng-class="toggleNav ? 'open' : ''" data-menu="1">
        <div class="icon-left"></div>
        <div class="icon-right"></div>
      </div>
    </div>
</div>
<nav class="navigation" ng-class="{'navigation-modal' : toggleNav}">
  <div class="container-fluid">
    <div class="navigation-main">
      <ul>
        <li><a href="./#!/property"><span>Property Insurance</span></a></li>
        <li><a href="./venue.html"><span>Auto Insurance</span></a></li>
        <li><a href="./#!/buy"><span>How To Buy</span></a></li>
        <li><a href="./sponsorship.html"><span>Claims &amp; Services</span></a></li>
      </ul>
    </div>
  </div>
</nav>