<div class="site-nav-wrapper">
  <div class="site-nav">
    <div class="site-nav__dropdown"></div><!-- {{#if breadcrumb}} site-nav__dropdown--shadowless{{/if}} -->
    <div class="site-nav__content container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <nav class="site-nav__menu">
            <ul class="site-nav__menu-items">
              <!-- <li class="site-nav__menu-item">
                <a href="{{url}}" {{#if disabled}} disabled{{/if}} data-key="{{key}}" class="site-nav__menu-item-link">{{title}}</a>
              </li> -->
              <li class="site-nav__menu-item"><a href="/blog" class="site-nav__menu-item-link site-nav__menu-item-link--no-sub">Blog</a></li>
              <li class="site-nav__menu-item"><a href="#" class="site-nav__menu-item-link site-nav__menu-item-link--no-sub">Magazine</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- {{#each siteNav.sections}} -->
  <nav class="site-nav__sub-menu site-nav__sub-menu--{{key}}">
    <section class="site-nav__section">
      <div class="site-nav__section--left">
        <h1 class="site-nav__section-heading">
                        <a class="link site-nav__section-heading-link" href="{{url}}">
                            View {{title}}
                            <!-- {{> icons/chevron}} -->
                        </a>
                    </h1>
        <p class="site-nav__section-desc">{{desc}}</p>
        <ul class="site-nav__sub-menu-items site-nav__sub-menu-items--{{key}}">
          <li class="site-nav__sub-menu-item"><a href="{{url}}" {{#if disabled}} disabled{{/if}} class="site-nav__sub-menu-item-link">All {{title}}</a></li>
          <!-- {{#each items}} {{#unless site_map_only}} -->
          <li class="site-nav__sub-menu-item"><a href="{{url}}" {{#if disabled}} disabled{{/if}} class="site-nav__sub-menu-item-link">{{title}}</a></li>
          <!-- {{/unless}} {{/each}} -->
        </ul>
      </div>
      <div class="site-nav__section--right">
        <div class="site-nav__menu-image-container">
          <!-- {{#if nav_image_url}} -->
          <img src="{{nav_image_url}}" class="site-nav__menu-image" alt=""> <!-- {{/if}} -->
        </div>
        <p class="site-nav__section-copy">To ensure your benefits are not interrupted, please remember to renew your membership.</p>
        <a href="#" class="link site-nav__section-link site-nav__section-link--promo">Renew Now</a>
      </div>
    </section>
  </nav>
  <!-- {{/each}} -->
</div>