<footer class="page-footer  footer">
  <div class="page-section--baby-blue">
    <div class="container-fluid page-footer__container">
      <div class="page-footer-terms-and-conditions__container page-vp--4">
        <div ng-click="showDiv = !showDiv">
          <span ng-hide="showDiv">+</span> <span ng-show="showDiv">-</span> Terms and Conditions
        </div>
        <div ng-show="showDiv">
          <p><sup>1</sup> Available in most areas across South Central Ontario.<br>
          <sup>2</sup> To qualify for the discount you must be a current CAA Member in good standing (CAA Membership dues paid in full by membership expiry date). Eligible CAA Members may qualify to receive a Member Loyalty Discount based on membership tenure and Roadside Assistance usage.<br>
          <sup>3</sup> Applies to CAA Members in good standing (CAA Membership dues paid in full by membership expiry date). Ten percent (10%) discount applies to the total premium excluding applicable taxes. Excludes Visitors to Canada Plan.</p>
        </div>
      </div>
      <nav class="row">
        <div class="col-md-9 page-footer-nav__container">
          <!-- <div class="row">
            <div class="col-md-3">
              <a href="">About</a>
            </div>
            <div class="col-md-3">
              <a href="">Privacy</a>
            </div>
            <div class="col-md-3">
              <a href="">Site Map</a>
            </div>
            <div class="col-md-3">
              <a href="">Contact</a>
            </div>
          </div> -->
        </div>
        <div class="social-media-icons__container col-md-3 page-vp-b--4">
          <div class="social-media-icons__group">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="2722 -1481 23.998 26.159" width="24" height="26">
              <defs>
                <style>
                .facebook-1 {
                  fill: #fff;
                }
                </style>
              </defs>
              <path id="Facebook_9" data-name="Facebook 9" class="facebook-1" d="M0,0V26.159H24V0ZM14.549,13.079H12.9v6.54H10.424v-6.54h-1.2V10.79h1.2V9.319a2.5,2.5,0,0,1,2.55-2.779h1.875V8.747H13.5c-.225,0-.525.082-.525.654v1.39h1.875Z" transform="translate(2722 -1481)" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="2758.006 -1481 23.998 26.159" width="24" height="26">
              <defs>
                <style>
                .twitter-1 {
                  fill: #fff;
                }
                </style>
              </defs>
              <path id="twitter_10" data-name="twitter 10" class="twitter-1" d="M47.8,0V26.159h24V0ZM64.6,10.382v.327c0,3.515-2.475,7.6-6.974,7.6a5.971,5.971,0,0,1-3.75-1.226h.6a4.667,4.667,0,0,0,3.075-1.144,2.614,2.614,0,0,1-2.325-1.88c.15,0,.3.082.45.082a1.914,1.914,0,0,0,.675-.082,2.594,2.594,0,0,1-1.95-2.616h0a2.329,2.329,0,0,0,1.125.327A2.746,2.746,0,0,1,54.4,9.564a4.14,4.14,0,0,1,.3-1.39,6.6,6.6,0,0,0,5.1,2.779,1.507,1.507,0,0,1-.075-.572,2.617,2.617,0,0,1,2.475-2.7A2.515,2.515,0,0,1,64,8.5a3.845,3.845,0,0,0,1.575-.654,2.587,2.587,0,0,1-1.05,1.471,7.394,7.394,0,0,0,1.425-.409A6.006,6.006,0,0,1,64.6,10.382Z" transform="translate(2710.206 -1481)" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="2794.002 -1481 23.998 26.159" width="24" height="26">
              <defs>
                <style>
                .linkedin-1 {
                  fill: #fff;
                }
                </style>
              </defs>
              <path id="Linkedin_12" data-name="Linkedin 12" class="linkedin-1" d="M95.6,0V26.159h24V0Zm8.7,19.292h-2.55v-8.42h2.55Zm-1.275-9.564h0A1.379,1.379,0,0,1,101.6,8.256a1.422,1.422,0,0,1,1.425-1.471,1.379,1.379,0,0,1,1.425,1.471A1.339,1.339,0,0,1,103.024,9.728ZM113.6,19.292h-2.55V14.8c0-1.144-.375-1.88-1.275-1.88a1.488,1.488,0,0,0-1.35,1.063,1.727,1.727,0,0,0-.075.654v4.741H105.8v-8.42h2.55V12.18a2.6,2.6,0,0,1,2.325-1.39c1.725,0,2.925,1.226,2.925,3.76Z" transform="translate(2698.402 -1481)" />
            </svg>
          </div>

        </div>
      </nav>
      <div class="page-footer-legal__container page-vp-b--5">
        <p>CAA Travel Insurance is underwritten by Orion Travel Insurance Company. Certain exclusions, limitations and restrictions apply.
          <br> Subject to change without notice. A Medical Questionnaire may be required to purchase travel insurance.</p>
        <p>&copy; 2017 CAA Insurance Company.
          <br> &copy; 2017 CAA Club Group. All rights reserved. Serving Members in Southern and Central Ontario and Manitoba.
          <br> &reg; CAA trademarks owned by, and use is authorized by, the Canadian Automobile Association.</p>
      </div>
    </div>
  </div>

  <div class="page-vp-b--3">

  </div>
</footer>