<section class="page-hero">
  <!-- <div class="page-hero__overlay"></div> -->
  <img class="page-hero__background" src="./img/my__test.png" alt="Save and Earn with CAA Rewards">
  <div class="page-hero__grid-container">
    <div class="page-hero__grid-row row">
      <div class="page-hero__grid-col--bottom">
        <div class="page-hero__content">
          <h1 class="heading heading--h1 page-hero__heading page-h-padding--mobile">{{$ctrl.header}}</h1>
          <div class="page-hero__colored-bg-mobile--grey page-h-padding--mobile page-vp--2">
            <p class="page-hero__copy">{{$ctrl.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>