<div class="page-description page-section--baby-blue text-white">
  <div class="container-fluid">
    <div class="page-description__grid-row row">
      <div class="page-description__grid-col col-sm-12">
        <div class="page-description__content page-vp--5_5">
          <h1>{{$ctrl.header}}</h1>
          <div>
            <p ng-bind-html="$ctrl.description"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>