<section class="broker-find container-fluid">
  <div class=" broker-find__grid-container ">
    <div class="broker-find__grid-row row">
      <div class="broker-find__grid-col col-sm-12">
        <div class="broker-find__content pl-lg-4 pr-lg-4">
          <h2>Find a Broker or CAA Club to Help</h2>
          <button type="button" name="find-location" id="btn-use-location" class="btn btn-outline-primary w-100 ">Use my current location</button>
          <div class="search-city-input__container">
            <input type="text" id="search-city-input" name="search-city-input" placeholder="Enter City or Postal Code" class="border border-right-0"><button type="button" name="search-city-button" id="btn-search-city" class="btn btn-primary">search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>