<broker-find></broker-find>
<section class="broker-page-hero__container">
  <ui-gmap-google-map center='$ctrl.map.center' zoom='$ctrl.map.zoom' options='$ctrl.options'></ui-gmap-google-map>
</section>