<div ng-init="tab = 1" class="page-section--grey">
  <div class="section-tabs__container  page-vm-b--7" ng-cloak>
    <div class="no-gutters container-fluid row">
      <div class="col-sm-3 section-tab" ng-class="{active : tab === 1}" ng-click="tab = 1">
        <a href="javascript:void(0);" class="page-vm-t--7 page-vp-b--2">
            <span>Homeowners</span>
          </a>
      </div>
      <div class="col-sm-3 section-tab" ng-class="{active : tab === 2}" ng-click="tab = 2">
        <a href="javascript:void(0);" class="page-vm-t--7 page-vp-b--2">
            <span>Tenant</span>
          </a>
      </div>
      <div class="col-sm-3 section-tab" ng-class="{active : tab === 3}" ng-click="tab = 3">
        <a href="javascript:void(0);" class="page-vm-t--7 page-vp-b--2">
            <span>Condo</span>
          </a>
      </div>
      <div class="col-sm-3 section-tab" ng-class="{active : tab === 4}" ng-click="tab = 4">
        <a href="javascript:void(0);" class="page-vm-t--7 page-vp-b--2">
            <span>Seasonal</span>
          </a>
      </div>
    </div>
  </div>
  <div class="container-fluid section-tab-content__container page__bg--color-grey">
    <div ng-show="tab === 1">
      <div class="page-vm-b--7">
        <h2>Insurance Advisor Results</h2>
        <p>Ready to buy or ask questions? You're in the right place.</p>
      </div>
    </div>
    <div ng-show="tab === 2">
      <div class="page-vm-b--7">
        <h2>Your Club is CAA South Central Ontario.</h2>
        <p>Ready to buy or ask questions? You're in the right place.</p>
      </div>
    </div>
    <div ng-show="tab === 3">
      <div class="page-vm-b--7">
        <h2>Three.</h2>
        <p>Ready to buy or ask questions? You're in the right place.</p>
      </div>
    </div>
    <div ng-show="tab === 4">
      <div class="page-vm-b--7">
        <h2>Four</h2>
        <p>Ready to buy or ask questions? You're in the right place.</p>
      </div>
    </div>
  </div>
  <!-- end wrapper -->
</div>